<div class="container">
	<div class="row">
	    <div class="col s12 m12 l12">
	        <div class="card-panel grey lighten-5 z-depth-1">
	      		<div class="row">
	        		<div class="col s12 m4 l2">
	          			<img ng-show="character.thumbnail != null" ng-src="{{character.thumbnail.path + '.' + character.thumbnail.extension}}" class="circle responsive-img" /> 
	          			<img ng-show="character.thumbnail == null" src="http://i.annihil.us/u/prod/marvel/i/mg/b/40/image_not_available.jpg" class="circle responsive-img" />
	        		</div>
	        		<div class="col s12 m8 l10">
	          			<span class="black-text">
	            			<h2>{{character.name}}</h2>
                            <p>{{character.description}}</p>
	          			</span>
	        		</div>
	      		</div>
	    	</div>
	 	</div>
        <div class="col s12 m12 l12">
            <ul class="tabs">
                <li class="tab col s3 m3 l3">
                    <a href="#comics" class="red-text darken-2">
                        Comics
                    </a>
                </li>
                <li class="tab col s3 m3 l3">
                    <a href="#stories" class="red-text darken-2">
                        Stories
                    </a>
                </li>
                <li class="tab col s3 m3 l3">
                    <a href="#events" class="red-text darken-2">
                        Events
                    </a>
                </li>
                <li class="tab col s3 m3 l3">
                    <a href="#series" class="red-text darken-2">
                        Series
                    </a>
                </li>
            </ul>
        </div>
        <div id="comics" class="col s12 m12 l12" ng-controller="ComicsController">
            <div class="col l3 m6 s12" ng-repeat="comic in comics">
                <a ng-href="#comic/{{comic.id}}">
                    <div class="card small">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img ng-show="comic.thumbnail != null" class="responsive-img activator" ng-src="{{comic.thumbnail.path + '.' + comic.thumbnail.extension}}" />
                            <img ng-show="comic.thumbnail == null" src="http://i.annihil.us/u/prod/marvel/i/mg/b/40/image_not_available.jpg" class="activator responsive-img" />
                        </div>
                        <div class="card-content">
                            <div class="center">
                                <span class="card-title truncate activator">{{comic.title}} <i class="material-icons right">more_vert</i></span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col s12 m12 l12 center">
                <a ng-hide="hideMoreButton()" ng-click="showMore()" class="waves-effect waves-light btn red accent-2">
                    <i class="material-icons left">more_horiz</i>Show More
                </a>
            </div>
            <div class="col s12 m12 l12 center" ng-show="total == 0">
                <h3 class="grey-text lighten 1">No Comics</h3>
            </div>
        </div>
        <div id="stories" class="col s12 m12 l12" ng-controller="StoriesController">
            <div class="col l3 m6 s12" ng-repeat="story in stories">
                <div class="card small">
                    <a ng-href="#story/{{story.id}}">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img ng-show="story.thumbnail != null" class="responsive-img activator" ng-src="{{story.thumbnail.path + '.' + story.thumbnail.extension}}" />
                            <img ng-show="story.thumbnail == null" src="http://i.annihil.us/u/prod/marvel/i/mg/b/40/image_not_available.jpg" class="activator responsive-img" />
                        </div>
                        <div class="card-content">
                            <div class="center">
                                <span class="card-title truncate activator">{{story.title}} <i class="material-icons right">more_vert</i></span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col s12 m12 l12 center">
                <a ng-hide="hideMoreButton()" ng-click="showMore()" class="waves-effect waves-light btn red accent-2">
                    <i class="material-icons left">more_horiz</i>Show More
                </a>
            </div>
            <div class="col s12 m12 l12 center" ng-show="total == 0">
                <h3 class="grey-text lighten 1">No Stories</h3>
            </div>
        </div>
        <div id="events" class="col s12 m12 l12">
            EVENTS
        </div>
        <div id="series" class="col s12 m12 l12">
            SERIES
        </div>
    </div>
</div>