<div class="container">
    <div class="row">
        <div class="col s12 m12 l12">
            <div class="card-panel grey lighten-5 z-depth-1">
                <div class="row">
                    <div class="col s12 m4 l4">
                        <img ng-show="comic.thumbnail != null" ng-src="{{comic.thumbnail.path + '.' + comic.thumbnail.extension}}" class="responsive-img"  /> 
                        <img ng-show="comic.thumbnail == null" src="http://i.annihil.us/u/prod/marvel/i/mg/b/40/image_not_available.jpg" class="responsive-img" />
                    </div>
                    <div class="col s12 m8 l8">
                        <span class="black-text">
                            <h3>{{comic.title}}</h3
                            <p>{{comic.description}}</p>
                            <div class="divider"></div>
                            <div class="section">
                                <h5>Variant Description</h5>
                                <p>{{comic.variantDescription}}</p>
                            </div>
                            <div class="divider"></div>
                            <div class="section">
                                <h5>Characters</h5>
                                <p ng-repeat="comicCharacter in comic.characters.items">{{comicCharacter.name}}</p>
                            </div>
                            <div class="divider"></div>
                            <div class="section">
                                <h5>Creators</h5>
                                <p ng-repeat="comicCreator in comic.creators.items">{{comicCreator.name}}</p>
                            </div>  
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>